## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [6]:
s="Hi there Sam!"
X=s.split()
print(X)

['Hi', 'there', 'Sam!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [16]:
planet="Earth"
diameter=12742
print("The diameter of"+str(planet), "is",diameter,"Kilometers.")

The diameter ofEarth is 12742 Kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
a=lst[3][1][2]
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [20]:
#Tuple is immutable
#Tuples operations are safe.
#Tuples consumes less memory.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [22]:
def domainGet(email):
  print("Your domain is:"+email.split('@')[-1])
  email=input("Please enter your email:>")
domainGet('user@domain.com')

Your domain is:domain.com
Please enter your email:>user@domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def findDog(st):
    if 'dog' in st.lower():
        print("True")
    else:
        print("False")

st = "Is there a dog here?"
findDog(st)

True

In [24]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [28]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [29]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [26]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [30]:
caught_speeding(81,False)

'Big Ticket'

In [31]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [39]:
employees = ["Aruna", "Dhivya", "Grace", "Janak", "Nethra", "Ronu"]    
salary={}
for emp in employees:
    try:
       amount=int(input(f'Enter salary for {emp}: '))
       salary[emp]=amount
    except ValueError:
       print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure ',sum(salary.values()))

Enter salary for Aruna: 10000
Enter salary for Dhivya: 12000
Enter salary for Grace: 10500
Enter salary for Janak: 14500
Enter salary for Nethra: 15000
Enter salary for Ronu: 20000
{'Aruna': 10000, 'Dhivya': 12000, 'Grace': 10500, 'Janak': 14500, 'Nethra': 15000, 'Ronu': 20000}
Total Salary Expenditure  82000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [42]:
dict_1 = {'Empid': 101, 'Empname': 'Rick', 'Basicpay' : 12000 }
dict_2 = {'DeptName': 'Sales','DeptId': 'S0012' }
dict_1.update(dict_2)
print("Combined Dictonary is:")
print(dict_1)

Combined Dictonary is:
{'Empid': 101, 'Empname': 'Rick', 'Basicpay': 12000, 'DeptName': 'Sales', 'DeptId': 'S0012'}